<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Achat annonce</title>
    </h:head>
    <h:body>
                <f:view>

        <h:form>
         

                    <ui:repeat value="#{annonceBean.annonces}" var="annonce" varStatus="status">
                                        <div class='row'>
                                                <div class="col-md-2">
                                                    <p:outputLabel value="Compétence: "/>
                                                </div>
                                                <div class="col-md-2">
                                                    #{annonce.annonce.competence.name}
                                                </div>
                                                <div class="col-md-2">
                                                    <p:outputLabel value="Professeur: "/>
                                                </div>
                                                <div class="col-md-2">
                                                    #{annonce.annonce.user.firstname}
                                                </div>
                                                <div class="col-md-2">
                                                    <p:outputLabel value="Date: "/>
                                                </div>
                                                <div class="col-md-2">
                                                    #{annonce.annonce.date}
                                                </div>
                                                <div class="col-md-2">
                                                    <p:outputLabel value="Heure: "/>
                                                </div>
                                                <div class="col-md-2">
                                                    #{annonce.annonce.heure}
                                                </div>
                                            </div>
                <p:selectBooleanCheckbox value="#{annonce.selected}" />
           </ui:repeat>
            <p:commandButton  value="Acheter" action="#{annonceBean.buyAnnonces()}"/>

            <div class="col-md-2">
                <p:outputLabel value="Nombre de Bzous restants : "/>
            </div>
            <br></br>
            <br ></br>
            <div class="col-md-6">
                #{annonceBean.user.firstname}
                #{annonceBean.user.bzous}                
            </div>
            
            </h:form>
            </f:view>

    </h:body>

</html>




