<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Panier utilisateur</title>
    </h:head>
    <h:body>

        <form method="post">                        
            <button value="Valider" action="#{panierBean.addArticle()}"/>
            
        </form>
        
        <input type="text">#{panierBean.numeroLastArticle}</input>
        <input type="text">#{panierBean.getArticlesSize()}</input>    
        
    </h:body>
</html>




