<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                    template="./templateNotLogged.xhtml">
        <ui:define name="content">
            <f:event listener="#{authenticationBean.checkErrors}" type="preRenderView"/>
            <h:messages globalOnly="true"/>
            <div class="container">
                <div class='row'>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"> <center>Liste des adhérents</center></h3>

                        </div>

                        <div class="panel-body"> 
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <h:body>
                                    <f:view>
                                        <h:form>
                                            <p:dataTable value="#{listAllUsers.users}" var="item">
                                                <p:column>

                                                    <f:facet name="header">
                                                        Name
                                                    </f:facet>
                                                    <h:outputText value="#{item.name}"/>
                                                </p:column>
                                            </p:dataTable>
                                        </h:form>
                                    </f:view>
                                    <p:commandButton class="btn btn-primary" value="New" action="registerUser"/>
                                    <h:form id="retourAcceuil">
                                        <p:commandButton value="Retour Accueil" action="#{registerUser.retourAccueil}" validateClient="true" class="btn btn-info" />
                                    </h:form>
                                </h:body>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            

        </ui:define>
    </ui:composition>
</html>