html {
    min-height:100%;
}


body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 0px;
    min-height:100vh;
    //border:1px solid black;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}


#top{
    display: block;
    position:relative;
    text-align: center;
    border:1px solid black;
    height:200px;
}

#content{
	//padding-bottom:20px;
	//min-height:calc(100% - 220px);
	min-width:100%;
	//top:200px;
	position:relative;
}

#wrapper{
        position:absolute;
	min-height:100%;
        width:100%;
	//height:auto;
        //border:5px solid black;
}

#bottom{
	border:1px solid black;
	text-align:center;
	position:absolute;
	width:100%;
	height:20px;
	bottom:0px;
}

img {
  border: 0 none;
  display: inline-block;
  position:absolute;
  height:65%;
  left:calc(50% - 45px);
}


.liensEntete{
    display:inline-table;
    position:absolute;
    height:65%;
    width:40%;
    left:calc(55% + 45px);
}

.column{
	width:50%;
}

.myButton {
	display:inline-table;
	background-color:#3498db;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	width:75%;
	height:75%;
}
.myButton:hover {
	background-color:#3cb0fd;
}
.myButton:active {
	position:relative;
	top:1px;
}

.barreRecherche{
	display:block;
	position:absolute;
	top:80%;
	height:20%;
	width:100%;
	background-color:red;
	border:1px solid black;
	min-width:900px;
}

.menu-deroulant, .menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.menu-deroulant {
/* on centre le menu dans la page */
    text-align: center;
	border:1px solid black;
	position:absolute;
	width:35%;
	left:2%;
}

.bouttonMenuDeroulant{
	background-color:#3498db;
	-moz-border-radius:28px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #3498ff;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.bouttonBarreRecherche{
	background-color:#3498db;
	-moz-border-radius:28px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #3498ff;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	position:absolute;
	width:100%;
	display:block
}

