<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="resources/css/cssLayout.css"/>   
        <link rel="stylesheet" type="text/css" href="resources/css/default.css"/>
        <link rel="stylesheet" href="resources/css/bootstrap.css" type="text/css"/>
        <link rel="stylesheet" href="resources/css/bootstrap-theme.css" type="text/css"/>
        <title>Facelets Template</title>
    </h:head>

    <ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                    template="./templateNotLogged.xhtml">
        <ui:define name="content">
            
            <h1 class="text-center">FAQ</h1>
            
                       <br> </br> <br> </br>
            <h4 class="text-center"> Question 1 : Est ce que <b>Bzous.com</b> c'est payant ?</h4>
            <h4 class="text-center" style="color:#F9429E"> Non ! <b>Bzou</b> est GRATUIT et le restera toujours pour tous les <b>Bzouteurs</b> !</h4>

            <br> </br>

            <h4 class="text-center"> Question 2 : Je n'ai plus aucun <b>Bzou</b> comment puis je faire pour continuer à prendre des cours ?</h4>
            <h4 class="text-center" style="color:#F9429E"> Ne t'inquiète pas ! Il te suffit de partager à ton tour tes savoirs et compétences, très rapidement tu auras plein de <b>Bzous</b> et de nouveaux <b>Bzouteurs</b> à ton carnet d'adresse !</h4>

            <br> </br>
            
            <h4 class="text-center"> Question 3 : D'autres questions ?</h4>
            <h4 class="text-center" style="color:#F9429E"> Envoie nous un mail à <b>Bzou@gmail.com</b> : tu auras des réponses... Et des <b>Bzous</b> bien sur ! ;)</h4>

            
            

            
        </ui:define>
    </ui:composition>

</html>
