<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">z
    <ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                    template="./templateNotLogged.xhtml">
        <ui:define name="content">
            <h:panelGroup rendered="#{competenceBean.show}" >
                <h:form id="describe">
                    <p:dataGrid value='#{competenceBean.toPrint}' var='annonce' columns="1">
                        <div class="container">
                            <div class='row'>
                                <div class="panel panel-primary">
                                    <div class="panel-body">
                                        <div class='row'>
                                            <div class="col-md-4">
                                                <h:outputText value='#{annonce.user.firstname}' />
                                            </div>
                                            <div class="col-md-4">
                                                <h:outputText value='#{annonce.user.name}'/>
                                            </div>
                                            <div class="col-md-4">
                                                <h:outputText value='#{annonce.user.birthdate}'/>
                                            </div>
                                            <div class='row'>
                                                <p:dataGrid value='#{annonce.user.disponibilites}' var='disponibilite' columns="1">
                                                    <h:outputText value='#{disponibilite.date}'/>
                                                </p:dataGrid>
                                            </div>   
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p:dataGrid>
                </h:form>
            </h:panelGroup>
        </ui:define>
    </ui:composition>
</html>