<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                    template="./templateNotLogged.xhtml">
        <ui:define name="content">
            <f:event listener="#{authenticationBean.checkErrors}" type="preRenderView"/>
            <h:messages globalOnly="true"/>
            <div class="container">
                <div class='row'>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"> <center>Ma Liste de Cours</center></h3>

                        </div>

                        <div class="panel-body"> 
                            <div class="col-md-12">

                                <h:body>

                                    <f:view>

                                        <table class="table-bordered table" id="Cours à donner : ">
                                            <table class="table" border="1">
                                                <thead>
                                                    <tr class="success">
                                                    <th>Cours à donner</th>
                                                    <th>à</th>
                                                    <th>Date</th>
                                                    <th>Heure</th>
                                                    </tr>
                                                </thead>
                                                
                                                <tbody>
                                                   <tr class="success">
                                                    <td>Matière 1</td>
                                                    <td> Nom1 Prénom1</td>
                                                    <td> Date1</td>
                                                    <td> Heure1</td>
                                                   </tr>
                                             
                                                </tbody>
                                              <tr class="success">
                                                
                                                    <td>Matière 2</td>
                                                    <td> Nom2 Prénom2</td>
                                                    <td> Date 2</td>
                                                    <td> Heure 2</td>
                                     
                                          </tr>
                                            </table>
                                             </table>
                                     



                                        <table class="table-bordered table" id="Cours à recevoir : ">
                                            <table class="table" border="1">
                                                <thead>
                                                    <tr class="danger">
                                                    <th>Cours à recevoir</th>
                                                    <th>à</th>
                                                    <th>Date</th>
                                                    <th>Heure</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="danger">
                                                    <td>Matière 3</td>
                                                    <td> Nom3 Prénom3</td>
                                                    <td> Date3</td>
                                                    <td> Heure3</td>
                                                    </tr>
                                                    <tr class="danger">
                                                        <td>Matière 4</td>
                                                        <td> Nom4 Prénom4</td>
                                                        <td> Date 4</td>
                                                        <td> Heure 4</td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </table> 

                                        <h:form id="retourAcceuil">
                                            <p:commandButton value="Retour Accueil" action="#{registerUser.retourAccueil}" validateClient="true" class="btn btn-info" />
                                        </h:form>


                                    </f:view>
                                </h:body>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </ui:define>
    </ui:composition>
</html>




