<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="resources/css/cssLayout.css"/>   
        <link rel="stylesheet" type="text/css" href="resources/css/default.css"/>
        <link rel="stylesheet" href="resources/css/bootstrap.css" type="text/css"/>
        <link rel="stylesheet" href="resources/css/bootstrap-theme.css" type="text/css"/>
        <title>Facelets Template</title>
    </h:head>

    <ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                    template="./templateNotLogged.xhtml">
        <ui:define name="content">

            <br/>

            <h1><center>Mentions légales</center></h1>

            <br/>

            <h4>

                <dd class="text-center"> Copyright © 2016 . Tous droits réservés. Start Up Bzou - SAS au capital de 5000 Bzous - RCS Grenoble LaGrange B 804 590 255. Crédit : ©iStock.com/RichVintage</dd>


            </h4>

            <br/>
            <br/>
            <br/>   

            <h1><center>Ils soutiennent <b>Bzou</b>  </center></h1>
            <br/>


            <div  id="contenu">
                <img src="images/ensi.png" class="img-rounded" alt="Cinque Terre" width="200" height="220"/>
            </div>

            <br/>
            <br/>
            <br/>  

            <div class="embed-responsive">
   <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/pYf5deeiPf4" width="300" height="150"></iframe>
</div>

            
            


            <br/> 



        </ui:define>
    </ui:composition>

</html>
