<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Bzous</title>
    </h:head>
    <h:body>


        <ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                        template="./templateNotLogged.xhtml">
            <ui:define name="content">
                <div class="container">
                    <div class='row'>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"> <center>Mon profil</center></h3>

                            </div>

                            <div class="panel-body">                            
                                <div class="col-md-10">

                                    <f:view>
                                        <h:form id="registerForm">
                                            <div class='row' id="names">

                                                <div class="col-md-2">
                                                    <p:outputLabel value="Nom: " for="name" />
                                                </div>
                                                <div class="col-md-2">
                                                    <h:inputText id="name" value="#{registerUser.user.name}" title="Name" required="true" size="25" maxlength="25" requiredMessage="Veuillez saisir un nom"/>
                                                </div>
                                                <div class="col-md-4">
                                                    <p:message for="name"/>
                                                </div>

                                                <div class="col-md-2">
                                                    <p:outputLabel value="Prénom: " for="firstname" />
                                                </div>
                                                <div class="col-md-2">
                                                    <h:inputText id="firstname" value="#{registerUser.user.firstname}" title="firstname" required="true" size="15" maxlength="15" requiredMessage="Veuillez saisir un prénom"/>
                                                </div>
                                                <div class="col-md-2">
                                                    <p:message for="firstname"/>
                                                </div>      

                                                <div class='row' id="Email">
                                                    <!-- <div class= 'col-xs-5 col-md-3 col-lg-1 centerVerticalement'>-->
                                                </div>
                                                <div class="col-md-2">
                                                    <p:outputLabel value="Email: " for="email" />
                                                </div>
                                                <div class="col-md-2">
                                                    <h:inputText id="email" value="#{registerUser.user.mail}" title="email" required="true" size="25" maxlength="25" requiredMessage="Veuillez saisir une adresse email"/>
                                                </div>
                                                <div class="col-md-4">
                                                    <p:message for="email"/>
                                                </div>

                                                <div class="col-md-2">
                                                    <p:outputLabel value="Zipcode: " for="zipcode" />
                                                </div>
                                                <div class="col-md-2">
                                                    <h:inputText id="zipcode" value="#{registerUser.user.zipcode}" title="zipcode" required="true" size="15" maxlength="15" requiredMessage="Veuillez saisir un prénom"/>
                                                </div>
                                                <div class="col-md-2">
                                                    <p:message for="zipcode"/>

                                                </div>          
                                            </div> 
                                            <br/>

                                            <div class='row' id="names">
                                                <div class="col-md-4">
                                                    <p:commandButton value="Annuler les modifications" action="#{registerUser.save}" validateClient="true" style="width:90%" class="btn btn-danger"/>
                                                </div>

                                                <div class="col-md-4">
                                                    <p:commandButton value="Sauver les modifications" action="#{registerUser.save}" validateClient="true" style="width:90%;" class="btn btn-primary"/>
                                                </div>                                                      
                                            </div>

                                        </h:form>
                                        <h3> Mes Compétences </h3>

                                        <h:form id="mesCompetences">

                                            <h:selectOneListbox value="#{user.favYear3}" id="competences">
                                                <f:selectItems value="#{user.favYear3Value}" var="y"
                                                               itemLabel="#{y.yearLabel}" itemValue="#{y.yearValue}" />
                                            </h:selectOneListbox>

                                            <br/>    
                                            <br/>

                                            <div class='row' id="names">
                                                <div class="col-md-4">
                                                    <p:commandButton value="Supprimer une compétences" action="#{registerUser.retraitCompetance}" validateClient="true" update="competences" style="width:90%" class="btn btn-danger"/>
                                                </div>    
                                                <div class="col-md-4">
                                                    <p:commandButton value="Ajouter une compétence" action="#{registerUser.ajoutCompetence}" validateClient="true" update="competences" style="width:90%" class="btn btn-primary"/>
                                                </div>
                                            </div>    
                                        </h:form>

                                        <h3> Mes Disponibilités </h3>

                                        <h:form id="mesDisponibilités">


                                            <p:calendar showOn="button"/>

                                            <br/>
                                            <h3> Mes horaires </h3>

                                            <input type="checkbox" name="interet" value="8h" /> 8h
                                            <input type="checkbox" name="interet" value="9h" /> 9h
                                            <input type="checkbox" name="interet" value="10h" /> 10h
                                            <input type="checkbox" name="interet" value="11h" /> 11h
                                            <input type="checkbox" name="interet" value="12h" /> 12h
                                            <input type="checkbox" name="interet" value="13h" /> 13h
                                            <input type="checkbox" name="interet" value="14h" /> 14h
                                            <input type="checkbox" name="interet" value="15h" /> 15h
                                            <input type="checkbox" name="interet" value="16h" /> 16h
                                            <input type="checkbox" name="interet" value="17h" /> 17h
                                            <input type="checkbox" name="interet" value="18h" /> 18h
                                            <input type="checkbox" name="interet" value="19h" /> 19h
                                            <input type="checkbox" name="interet" value="20h" /> 20h
                                            <input type="checkbox" name="interet" value="21h" /> 21h
                                            <input type="checkbox" name="interet" value="22h" /> 22h



                                            <br/><br/><br/>
                                            <p:commandButton value="Enregistrer les modifications" action="#{registerUser.modifierDispo}" validateClient="true" update="mesDisponibilités" class="btn btn-primary"/>
                                            <p:commandButton value="Ma liste de cours" action="#{registerUser.goToListeCours}" validateClient="true" update="mesDisponibilités" class="btn btn-primary"/>
                                            <p:commandButton value="Retour Accueil" action="#{registerUser.retourAccueil}" validateClient="true" class="btn btn-info" />
                                        </h:form>
                                        

                                       

                                       
                                       

                                    </f:view>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>