<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="resources/css/cssLayout.css"/>   
        <link rel="stylesheet" type="text/css" href="resources/css/default.css"/>
        <link rel="stylesheet" href="resources/css/bootstrap.css" type="text/css"/>
        <link rel="stylesheet" href="resources/css/bootstrap-theme.css" type="text/css"/>
        <title>Facelets Template</title>
    </h:head>

    <ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./templateNotLogged.xhtml">
    <ui:define name="content">

                    <br/>
                    <br/>
                    <br/>   

                    <h1><center>HEY YOU !</center></h1>

                    <br/>
                    <br/>
                    <br/>
                    <h4>

                        <dd class="text-center">Nous sommes de jeunes diplômés et nous souhaitons lancer notre propre activité. Notre Start-UP a pour but d'encourager l'échange et de développer les initiatives collaboratives...</dd>
                        <dd class="text-center">Devant le constat d'une société de plus en plus individualiste et matérialiste, nous souhaitons supporter davantage l'échange et réduire au maximum l'usage de la monnaie. </dd>
                          <dd class="text-center">Pour ce faire nous comptons à horizon 4 mois, mettre en ligne une application web réunissant une communauté de personnes s'échangeant compétences et services.</dd>
                        <dd class="text-center" style="color:#F9429E">Ce troc n'étant pas toujours pratique, nous proposons aux utilisateurs de s'échanger non pas de l'argent mais... des <b>Bzous</b>  ! </dd>
                        <dd class="text-center">Facilitant l'organisation et la cohésion de notre communauté : les <b>Bzouteurs</b>.</dd>
                  
           
                    </h4>
                
                    <br/> 

                    <img src="images/BzousLogoMini.jpg" alt="Logo" width="500" height="60"/>

</ui:define>
    </ui:composition>

</html>
