<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Bzous</title>
    </h:head>
    <h:body>
        <ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                        template="./templateNotLogged.xhtml">
            <ui:define name="content">
                <div class="container">
                    <div class='row'>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"> <center> <b>Profil</b> #{registerUser.user.firstname} #{registerUser.user.name}  </center></h3>

                            </div>
                            <div class="panel-body">                            
                                <div class="col-md-12">
                                    <f:view>
                                        <h:form id="registerForm">
                                            <div class='row' id="names">
                                                <div class="col-md-2">
                                                    <h:outputText value="Nom: "/>
                                                    <h:outputText value= "#{registerUser.user.name}" /> <!-- Il faudra acceder à l'utilisateur en BD -->
                                                </div>
                                            </div>


                                            <div class='row' id="firstname">
                                                <div class="col-md-2">
                                                    <h:outputText value="Prenom: "/>
                                                    <h:outputText value= "#{registerUser.user.firstname}" /> <!-- Il faudra acceder à l'utilisateur en BD -->
                                                </div>
                                            </div>


                                            <div class='row' id="mail">
                                                <div class="col-md-2">
                                                    <h:outputText value="Email: "/>
                                                    <h:outputText value= "#{registerUser.user.mail}" /> <!-- Il faudra acceder à l'utilisateur en BD -->
                                                </div>
                                            </div>


                                            <div class='row' id="zipcode">
                                                <div class="col-md-2">
                                                    <h:outputText value="Code Postal: "/>
                                                    <h:outputText value= "#{registerUser.user.zipcode}" /> <!-- Il faudra acceder à l'utilisateur en BD -->
                                                </div>
                                            </div>
                                        </h:form>   

                                        <p>
                                            <img src="lienPhoto" alt="Photo Utilisateur: " />   <!-- il faut mettre le lien de la photo-->

                                        </p>



                                        <table class="table-bordered table" id="Note moyenne : ">
                                            <table class="table" border="1">
                                                <thead>
                                                    <th>Note Moyenne</th>
                                                </thead>
                                                <tbody>
                                                    <td> Note</td>
                                                </tbody>

                                            </table>
                                        </table> 


                                        Commentaires
                                        <table class="table-bordered table" id="Commentaires : ">
                                            <table class="table" border="1">
                                                <thead>
                                                    <th>Laissé par</th>
                                                    <th>Commentaire</th>
                                                    <th>Note</th>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td> Nom1 Prénom1</td>
                                                        <td> Commentaire1</td>
                                                        <td> Note1</td>
                                                    </tr>
                                                    <tr>
                                                        <td> Nom2 Prénom2</td>
                                                        <td> Commentaire2</td>
                                                        <td> Note2</td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </table> 

                                        <h3> Compétences </h3>

                                        <h:form id="mesCompetences">

                                            <h:selectOneListbox value="#{user.favYear3}" id="competences">
                                                <f:selectItems value="#{user.favYear3Value}" var="y"
                                                               itemLabel="#{y.yearLabel}" itemValue="#{y.yearValue}" />
                                            </h:selectOneListbox>

                                            <br/>    

                                        </h:form>

                                        <h3> Disponibilités </h3>

                                        <h:form id="mesDisponibilités">

                                            <p:calendar showOn="button"/>

                                            <br/>

                                            <br/>
                                            Horaires :

                                            <input type="checkbox" name="interet" value="8h" /> 8h
                                            <input type="checkbox" name="interet" value="9h" checked="checked" /> 9h
                                            <input type="checkbox" name="interet" value="10h" /> 10h
                                            <input type="checkbox" name="interet" value="11h" /> 11h
                                            <input type="checkbox" name="interet" value="12h" checked="checked" /> 12h
                                            <input type="checkbox" name="interet" value="13h" /> 13h
                                            <input type="checkbox" name="interet" value="14h" /> 14h
                                            <input type="checkbox" name="interet" value="15h" /> 15h
                                            <input type="checkbox" name="interet" value="16h" /> 16h
                                            <input type="checkbox" name="interet" value="17h" /> 17h
                                            <input type="checkbox" name="interet" value="18h" /> 18h
                                            <input type="checkbox" name="interet" value="19h" checked="checked" /> 19h
                                            <input type="checkbox" name="interet" value="20h" /> 20h
                                            <input type="checkbox" name="interet" value="21h" /> 21h
                                            <input type="checkbox" name="interet" value="22h" /> 22h

                                            <br/>
                                            <p:commandButton value="Retour Accueil" action="#{registerUser.retourAccueil}" validateClient="true" class="btn btn-info" />
                                        </h:form>
                                       
                                       
                                    </f:view>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div> 
            </ui:define>
        </ui:composition>
    </h:body>
</html>




