<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>

        <ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                        template="./templateNotLogged.xhtml">
            <ui:define name="content">
                <div class="container">
                    <div class='row'>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"> <center><b>Se connecter</b></center></h3>

                            </div>

                            <div class="panel-body">                            
                                <div class="col-md-10">
                                    <h1>
                                        <h:outputText value="Inscription"/>
                                    </h1>             
                                    <f:view>
                                        <h:form id="registerForm">
                                            <div class='row' id="names">
                                                <div class="col-md-2">
                                                    <p:outputLabel value="Nom: " for="name" />
                                                </div>
                                                <div class="col-md-2">
                                                    <h:inputText id="name" value="#{registerUser.user.name}" title="Name" required="true" size="25" maxlength="25" requiredMessage="Veuillez saisir un nom"/>
                                                </div>
                                                <div class="col-md-4">
                                                    <p:message for="name"/>
                                                </div>
                                                <div class="col-md-2">
                                                    <p:outputLabel value="Prénom: " for="firstname" />
                                                </div>
                                                <div class="col-md-2">
                                                    <h:inputText id="firstname" value="#{registerUser.user.firstname}" title="firstname" required="true" size="15" maxlength="15" requiredMessage="Veuillez saisir un prénom"/>
                                                </div>
                                                <div class="col-md-2">
                                                    <p:message for="firstname"/>
                                                </div>
                                            </div>



                                            <div class='row' id="birthdate">
                                                <div class="col-md-2">
                                                    <p:outputLabel value="Date de naissance: " for="birthdate" />
                                                </div>
                                                <div class="col-md-2">
                                                    <h:inputText id="birthdate" value="#{registerUser.user.birthdate}" title="birthdate" required="true" size="25" maxlength="10" requiredMessage="Veuillez saisir votre date de naissance"/>
                                                </div>
                                                <div class="col-md-4">
                                                    <p:message for="birthdate"/>
                                                </div>
                                            </div>

                                            <div class='row' id="Email">
                                                <div class="col-md-2">
                                                    <p:outputLabel value="Email: " for="email" />
                                                </div>
                                                <div class="col-md-2">
                                                    <h:inputText id="email" value="#{registerUser.user.mail}" title="email" required="true" size="25" maxlength="10" requiredMessage="Veuillez saisir votre adresse email"/>
                                                </div>
                                                <div class="col-md-4">
                                                    <p:message for="email"/>
                                                </div>
                                            </div>


                                            <div class='row' id="gridpassword">
                                                <div class="col-md-2">
                                                    <p:outputLabel value="Mot de passe: " for="password" />
                                                </div>
                                                <div class="col-md-2">
                                                    <h:inputSecret id="password" value="#{registerUser.password}" title="password" required="true" size="25" requiredMessage="Veuillez saisir votre mot de passe"/>
                                                </div>
                                                <div class="col-md-4">
                                                    <p:message for="password"/>
                                                </div>
                                            </div>


                                            <div class='row' id="gridpasswordConfirm">
                                                <div class="col-md-2">
                                                    <p:outputLabel value="Confirmez votre mot de passe: " for="passwordConfirm" />
                                                </div>
                                                <div class="col-md-2">
                                                    <h:inputSecret id="passwordConfirm" value="#{registerUser.passwordConfirm}" title="passwordConfirm" required="true" size="25" requiredMessage="Veuillez confirmer votre mot de passe"/>
                                                </div>
                                                <div class="col-md-4">
                                                    <p:message for="passwordConfirm"/>
                                                </div>
                                            </div>






                                            <div class="radio">
                                                <label><input type="radio" name="gender"> Homme </input> </label>
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" name="gender"> Femme  </input> </label>
                                            </div>   



                                            <div class='row' id="gridzipcode">
                                                <div class="col-md-2">
                                                    <p:outputLabel value="Zipcode: " for="zipcode" />
                                                </div>
                                                <div class="col-md-2">
                                                    <h:inputText id="zipcode" value="#{registerUser.user.zipcode}" title="zipcode" required="true" size="25" requiredMessage="Veuillez confirmer votre code postal"/>
                                                </div>
                                                <div class="col-md-4">
                                                    <p:message for="zipcode"/>
                                                </div>
                                            </div>

                                            <h3>En vous inscrivant sur ce site vous acceptez les conditions générales d'utilisation.</h3>
                                            <br />
                                            <p:commandButton value="Annuler" action="registerUser" class="btn btn-danger"/>  

                                            <p:commandButton value="C'est parti" action="#{registerUser.save}" validateClient="true" update="registerForm" class="btn btn-primary"/>
                                            <br />
                  

                                        </h:form>
                                    </f:view>

                                </div>                            
                            </div>
                        </div>
                    </div> 
                </div>
            </ui:define>
        </ui:composition>
    </h:body>

</html>