<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                    template="./templateNotLogged.xhtml">
        <ui:define name="content">
            <f:event listener="#{authenticationBean.checkErrors}" type="preRenderView"/>
            <h:messages globalOnly="true"/>
            <div class="container">
                <div class='row'>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"> <center><b>Se connecter</b></center></h3>

                        </div>

                        <div class="panel-body"> 
                            <div class="col-md-4"></div>
                            <div class="col-md-4">

                                <form id="loginForm"  method="post" action="j_security_check" >                        
                                    <br/> <b>Email</b>  <span class="requis">*</span> <br/>
                                 <h:inputText id="j_username" label="Login" required="true" value="#{authentificationBean.email}" requiredMessage="Veuillez saisir une adresse email"/>

                                 <h:message id="username" for="j_username" style="color:red;"/>
                                <br/><b>Mot de passe</b> <span class="requis">*</span> <br/>
                                <h:inputSecret id="j_password" label="Password" required="true" value="#{authentificationBean.password}" requiredMessage="Veuillez saisir un mot de passe"/>
                                <h:message for="j_password" style="color:red;"/>

                                <br/><h:commandButton class="btn btn-primary" value="Valider" action="#{authentificationBean.logIn}"/>

                                </form>
                            </div>                            
                        </div>
                    </div>
                </div> 
            </div>
        </ui:define>
    </ui:composition>
</html>