<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="resources/css/cssLayout.css"/>   
        <link rel="stylesheet" type="text/css" href="resources/css/default.css"/>
        <link rel="stylesheet" href="resources/css/bootstrap.css" type="text/css"/>
        <link rel="stylesheet" href="resources/css/bootstrap-theme.css" type="text/css"/>
        <title>Facelets Template</title>
    </h:head>

    <h:body>
        <div id="wrapper">
            <header id="top">
                <img src="images/BzousLogoMini.jpg" alt="Logo"/>
                <table class="liensEntete"> 
                    <tr>
                        <h:panelGroup rendered="#{!authenticationBean.connected}">
                            <td class="column"><a href="registerUser.xhtml" class="myButton" style="height:30%">s'enregistrer</a></td>
                            <td class="column"><a href="SignInUser.xhtml" class="myButton" style="height:30%">se connecter</a></td>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{authenticationBean.connected}">
                            <td class="column"><a href="MonProfil.xhtml" class="myButton"> Mon profil </a></td>
                            <td class="column">
                                <h:form class="myButton">
                                    <h:commandLink action="#{authenticationBean.logout}">Se déconnecter</h:commandLink>
                                </h:form>
                            </td>
                        </h:panelGroup>
                    </tr>
                    <tr>
                        <td class="column"></td>
                        <h:panelGroup rendered="#{authenticationBean.connected}">
                            <td class="column"><a href="index.xhtml" class="myButton">Mon panier</a></td>
                        </h:panelGroup>
                    </tr>
                </table>

                <div class="barreRecherche">
                    <table class="liensRecherche">
                        <tr>
                            <td style="position:absolute;width:10%">Je recherche une competence</td>
                            <td style="position:absolute;width:50%;left:10%">
                                <h:form style="display:inline-block">
                                    <h:selectOneListbox value="#{competenceBean.selectedCompetence}" size="1" id="competences" class="menu-deroulant">
                                        <f:selectItems value="#{competenceBean.competences}" var="competence"
                                                       itemValue="#{competence.name}" itemLabel="#{competence.name}"/>
                                    </h:selectOneListbox>


                                    <input class="text-primary" style="display:inline-block;width:100%" type="text" name="lieu" id="lieu" value="Zipcode"></input>

                                    <h:commandButton value="recherche" class="bouttonMenuDeroulant" style="position:absolute;left:65%" action="#{competenceBean.recherche}"></h:commandButton>
                                </h:form>
                            </td>

                            <td style="position:absolute;width:20%;left:68%;">
                                <a href="PresentBzous.xhtml" class="bouttonBarreRecherche">Qu'est ce que Bzous.com?</a>
                            </td>
                            <td style="position:absolute;width:5%;left:91%">
                                <a href="FAQ.xhtml" class="bouttonBarreRecherche">FAQ</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </header>

            <div id="content">
                <ui:insert name="content" >
                    bananaaaa!!!! 
                </ui:insert>
            </div>

            <div id="bottom">
                <li style="display:inline-block;padding-left:20px;padding-right:20px;"><a href="index.xhtml">Page principale</a></li>
                <li style="display:inline-block;padding-left:20px;padding-right:20px;"><a href="FAQ.xhtml">FAQ</a></li>
                <li style="display:inline-block;padding-left:20px;padding-right:20px;"><a href="MentionLegale.xhtml#">Mentions légales</a></li>
            </div>
        </div>
    </h:body>

</html>
